.main-layout {
    background-color: #1E1E1E;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 60px 0 0 0;
    overflow-x: hidden;
    position: relative;
    left: 0;
    right: 0;
} 