.about-page {
    /* height: 550px; */
    font-size: 26px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Helvetica Neue;
    padding: 40px;
    text-align: justify;
    text-justify: inter-word;
    background-color: black;
    height: auto;
}

.flex-container {
    padding-top: 40px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #ffff;
    margin-left: 10%;
    margin-right: 10%;
}
@media(max-width: 768px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }
}

.about-page {

    padding: 10px;
    margin-top: 0px;
    text-align: center;
}


.about-page h1 {
    margin-top: -10px;
    font-family: Helvetica Neue;
    width: 400;
    font-weight: normal;
    font-size: 50px;
    text-align: justify;
    font-weight: bold;
    
}

.about-page h2 {
    font-size: 30px;
    font-family: Helvetica Neue;
    font-weight: normal;
    text-align: justify;
    color: #ffff;
    margin-top: 80px;
    margin-bottom: 0px;
    font-weight: bold;
}

.about-page h3 {
    font-size: 20px;
    font-family: Helvetica Neue;
    font-weight: normal;
    text-align: justify;
    color: #ffff;
    margin-top: 80px;
    margin-bottom: 0px;
    font-weight: bold;
}

.titular {
    text-align: justify;
    /* Esto centrará el texto */
    font-size: 22px;
    /* Esto hará que la letra sea más pequeña */
}


.frase {
    text-align: right;
    font-size: 22px;
    font-style: italic;
}


@media (max-width: 600px) {
    .flex-container {
        padding-top: 40px;
        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: #ffff;
        margin-left: 2%;
        margin-right: 2%;
    }
    .about-class {
        margin-left: 3%;
        margin-right: 3%;
    }
    .about-class h1 {
        font-size: 25px;
        text-align: center;
    }
    .about-class h2 {
        font-size: 18px;
        text-align: center;
        margin-bottom: -50px;
    }
    .about-class h3 {
        font-size: 15px;
        text-align: center;
    }
    .about-class p {
        font-size: 14.5px;
    }
}