html, body {
    background-color:#e1dada;
    margin: 0;
    padding: 0;
   
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
  
}

html {
    scroll-behavior: smooth;
  }


  .main-navigation {
    background-color: black;
    /* background-color: gray; */
    position: fixed;
    height: 60px;
    width: 100%;

    

}


.name-header {
    color: #fff; 
    font-family: 'Roboto', sans-serif; 
    margin-left: 65px;
    font-size: 23px;
    /* text-align: left; */
    display: flex;
    margin-top: -32px; 
    text-decoration: none;
    
}

header {
    grid-column-start: 1;
    grid-column-end: -1;
    
    
}
a.navbar-brand {
    float: center;
    height: 3px;
    padding: 15px 15px;
    line-height: 20px;
    
    

}



nav.main-navigation ul.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /* Esto hace que los elementos de la lista se muestren en línea */
    justify-content: center; /* Esto centra los elementos de la lista horizontalmente */
    align-items: center;
    margin-top: -41px;
    margin-right: 70px;
}

.nav-list li.nav-list-item {
    display: inline-block;
    line-height: 40px;
    margin-left: 30px;
    margin-top: 15px;
    
    
    
}


a.nav-link {
    text-decoration: none;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 500; */
    cursor: pointer;
    /* position: flex; */
    color: #ffff;
    margin-left: 55px;
    margin-top: -10px;
    /* margin-bottom: 10px; */
    display: flex;
    /* width: auto; */
    
    
    
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav-list li {
    animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
    
}

.nav-list li:nth-child(1) {
    animation-delay: .3s;
}

.nav-list li:nth-child(2) {
    animation-delay: .6s;
}

.nav-list li:nth-child(3) {
    animation-delay: .9s;
}

.nav-list li:nth-child(4) {
    animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
    animation-delay: 1.5s;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* .MobileNavigation{
    display: flex;
    align-items: center;
    
} */

/* Muestra la navegación móvil cuando la pantalla es de 600px o menos */
@media screen and (max-width: 600px) {
    .mobile-navigation {
        display: flex;
    }
}

@media(max-width: 990px) {
    
   .normalNavigation {
       display: none;
       
   }

   .MobileNavigation {
       display: flex;
       align-items: center;
  
   }
   .MobileNavigation .Hamburger {
       position: absolute; 
       right: 3%;
       cursor: pointer;
       /* padding-top: 1px; */
       color: #fff;
       margin-top: -20px;
       
   }

   nav.main-navigation ul.nav-list {
       display: flex;
       flex-direction: column;
       position: fixed;
       top: 95px;
       right: 0;
       width: 100%;
       background-color: #282a36;
       border-top: 2px solid black;
   }

   nav.main-navigation ul.nav-list {
       margin-right: 0px;
       
   }

   a:hover{
       border-bottom: none;
       color: yellow;
   }

   ul li {
       padding-right: 5%;
   }
}


.header-image {
    width: 40px; /* Ajusta el tamaño como desees */
    height: 40px; /* Asegúrate de que el ancho y la altura sean iguales para mantener la imagen circular */
    margin-top: 15px; 
    margin-left: 16px;
    display: flex;
    border-radius: 50%;/* position: center;  */

}

/* Media query para pantallas con un ancho de 390px */
@media screen and (max-width: 390px) {
    .header-image {
        width: 30px; /* Ajusta el tamaño para pantallas pequeñas */
        height: 30px; /* Asegúrate de que el ancho y la altura sean iguales para mantener la imagen circular */
        right: 3%;
        cursor: pointer;
        /* padding-top: 10px; */
        border-radius: 50%; /* Esto hace la imagen circular */
        margin-top: 10px;
  
    
    }
    .name-header {
        color: #fff; 
        font-family: 'Roboto', sans-serif; 
        margin-left: 65px;
        font-size: 18px;
        text-align: left;
        display: flex;
        margin-top: -29px; 
        
    }
}

.icons-header {
    margin:  10px;  /* Esto añadirá un margen a la izquierda y a la derecha de cada icono */
}